$color-primary: white;
$color-primary-dark: beige;

$color-secondary: #d3d3d3;
$color-secondary-dark: grey;

$color-tertiary: #28282b;
$color-tertiary-dark: black;

$color-red-light: #ff0000;
$color-red-dark: #dc143c;

$gutter-horizontal: 12rem;
$gutter-horiz: 30rem;
$gutter: 2rem;
